target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

*.class

.idea/
*.iml
*.ipr
*.iws
out/

.classpath
.project
.settings/
bin/

.vscode/

.DS_Store
Thumbs.db

*.log